/* Globo-Gym James,Andrew,Noelle */

body {
	background-color: rgb(14, 14, 63);
}
.nav li {
	display: inline;
}

ul.float-left, ul.float-right {
	margin-bottom: 8px;
	margin-top: 7px;
}

.nav a {
	font-size: 20px;
	padding-right: 25px;
	font-weight: bold;
	transition: font 1s;
	color: Black;
}

.nav a:hover {
	text-decoration: none;
	color: white;
}

.nav {
	background-color: rgb(148, 63, 192);
}

.jumbotron {
	height: 558px;
	background-image: url("images/gym_inside.png");
	background-size: cover;
	background-repeat: round;
	background-size: contain;
	background-attachment: fixed;
}

.jumbotron p {
	color: white;
	font-size: 30px;
	font-family: 'Francois One', sans-serif;
}

div.jumbotron img {
	max-width: 35%;
	repeat: no-repeat;
}

h1.thankYou {
	color: white;
	font-family: 'Francois One', sans-serif;
	text-align: center;
}

p.interest {
	font-family: 'Francois One', sans-serif;
	color: white;
	text-align: center;
}

footer {
	color: white;
	text-align: center;
}

/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
	div.nav { 
		-webkit-order: 99;
		order: 99;
	}
	
	footer {
		-webkit-order: 100;
		order: 100;
	}
}

/* ============================================
   Tablet and Desktop Styles: 481px and greater 
   ============================================
*/

@media only screen and (min-width: 481px) {
	
	div.nav ul {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flew-flow: row nowrap;
	}
	
	div.nav li {
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto; 
	}
}